.App {
    color: var(--text-color);
    background: var(--background-color);
    border-color: var(--border-color);
    font: var(--font-body);

    padding: 16px;
}

.App_cup-size-form {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.App_cup-grid {
    display: flex;
}
.App_cup-grid-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
}

.App_help-text {
    font-size: .8rem;
    font-style: italic;
}
