html {
  --background-color: #5D6BC3;
  --text-color: #fff;
  --border-color: #fff;
  --font-title: normal normal normal 20px/1.67em dancingscript-regular,'dancing script',cursive;
  --font-body: normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);
}
html * {
  box-sizing: border-box;
}
input[type=number], button {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-color);
    color: var(--text-color);
}
