.ToggleButton {
    display: flex;
    justify-content: center;
}
.ToggleButton_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: transparent;
    border-width: 2px;
    cursor: pointer;
    flex: 1 1 50%;

    font-size: 1.3rem;
}
.ToggleButton_button:first-child {
    margin-right: 5px;
}
.ToggleButton_button:last-child {
    margin-left: 5px;
}
.ToggleButton_button--is-active {
    background: var(--text-color);
    color: var(--background-color);
}
.ToggleButton_icon {
    padding-right: 10px;
    align-self: justify;
    height: 2rem;
}
